@page "/"
@layout UserHomePage
   


<div class="container-fluid" style="margin-bottom:80px;padding-bottom:10px">
    <MudCarousel  Class="mud-width-full" Style="height:150px;border-radius:8px"  ShowArrows="false" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
            <div class="d-flex" style="height:100%">
                <MudImage Src="Images/ad1.jpg" alt="Image 1" style="height:100%; object-fit: cover;width:100%" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
            <div class="d-flex" style="height:100%">
                <MudImage Src="Images/ad2.jpg" alt="Image 1" style="height:100%; object-fit: cover;width:100%" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
            <div class="d-flex" style="height:100%">
 <MudImage   Src="Images/ad3.jpg" alt="Image 1" style="height:100%; object-fit: cover;width:100%" />     
 </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
        <MudImage   Src="Images/ad4.jpg" alt="Image 1" style="height:100%; object-fit: cover;width:100%" />  
        </MudCarouselItem>
    </MudCarousel>

    <MudGrid Style="margin-top:8px">
    <MudItem xs="6">
       <MudText  Typo="Typo.body1">
                <strong>Categories</strong>
       </MudText>
    </MudItem>
    <MudItem xs="6">
        <a href="/All_Categories">
                <div style="text-align:end;color:cornflowerblue;margin-right:8px">
                    See all
                </div>
            </a>
     
    </MudItem>
    </MudGrid>

  

    <style>
        .hide-scrollbar {
            overflow-x: auto;
            white-space: nowrap;
            scrollbar-width: none; /* For Firefox */
        }

            .hide-scrollbar::-webkit-scrollbar {
                display: none; /* For Chrome, Safari, Edge, and WebView */
            }
    </style>
    <div style="overflow-x: auto; white-space: nowrap;" class="hide-scrollbar">
    @for (var i = 0; i < 10; i++)
    {
        <MudChip T="string" Style="margin-right:8px" Variant="Variant.Text">Gaming</MudChip>
    }
    </div>

    <MudGrid Style="margin-top:8px">
        <MudItem xs="6">
            <MudText Typo="Typo.body1">
                <strong>Recomendations</strong>
            </MudText>
        </MudItem>
        <MudItem xs="6">
            <div style="text-align:end;color:cornflowerblue;margin-right:8px">
                See all
            </div>
        </MudItem>
    </MudGrid>


     <MudGrid Style="margin-top:8px">
         @for (var i = 0; i < 10; i++)
         {
            <MudItem xs="6">
                <MudCard @onclick="@(()=>naviagte.NavigateTo("/ProductDetails"))" Style="height:200px;border-radius:14px" Elevation="25">
                   
                    <MudCardMedia Image="https://png.pngtree.com/png-vector/20230501/ourmid/pngtree-sneakers-running-shoes-trendy-shoe-shapes-png-image_7078175.png" Height="100" />

                    <MudCardContent>


                        <MudText Typo="Typo.h6">KES 1,200</MudText>
                        <MudText Typo="Typo.body2" Style="color:gray">Nike Lebron 8</MudText>

                        <div style="text-align:end">
                            <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Dark" />
                        </div>
                    </MudCardContent>

                </MudCard>
            </MudItem>
        }
       
       
    </MudGrid>
</div>

             @code{
             }