


<MudAppBar Bottom="true" Fixed="true" Style="background-color:white" Elevation="1">
     <div style="text-align:center">
        <MudIconButton OnClick="@(()=>naviagte.NavigateTo("/Retail_Connects"))" Style="padding-bottom:0px;margin-bottom:1px" Icon="@Icons.Material.Rounded.RssFeed" Color="Color.Warning" Edge="Edge.End" />
        <div style="font-size:x-small;color:orange;top:0">Connects</div>
    </div>
    <MudSpacer />
    <div style="text-align:center">
        <MudIconButton OnClick="@(()=>naviagte.NavigateTo("/RetailPosts"))" Style="padding-bottom:0px;margin-bottom:1px" Icon="@Icons.Material.Filled.RealEstateAgent" Color="Color.Warning" Edge="Edge.End" />
        <div style="font-size:x-small;color:orange;top:0">Posts</div>
    </div>
   
    <MudSpacer />
     <MudFab Style="background-color:white" OnClick="@(()=>naviagte.NavigateTo("/Retail_Home"))" IconColor="Color.Warning" StartIcon="@Icons.Material.Rounded.Home" Size="Size.Medium" />


    <MudSpacer />
     <div style="text-align:center">
        <MudIconButton OnClick="@(()=>naviagte.NavigateTo("/Retail_Feeds"))" Style="padding-bottom:0px;margin-bottom:1px" Icon="@Icons.Material.Rounded.ConnectWithoutContact" Color="Color.Warning" Edge="Edge.End" />
        <div style="font-size:x-small;color:orange;top:0">Feeds</div>
    </div>
   
   
    <MudSpacer />
    <div style="text-align:center">
        <MudIconButton OnClick="@(()=>naviagte.NavigateTo("/Retail_Chats"))" Style="padding-bottom:0px;margin-bottom:1px" Icon="@Icons.Material.Filled.Chat" Color="Color.Warning" Edge="Edge.End" />
        <div style="font-size:x-small;color:orange;top:0">Chats</div>
    </div>
    <MudSpacer />
    
</MudAppBar>